.homeContainer {
  display: grid;
  /* background-color: aqua; */
  grid-template-rows: auto 68px 25vh 60px;
}

.homeCalendarBox {
  background-color: black;
  margin: 0 20px 0 20px;
}

.homeButtonBox {
  /* background-color: violet ; */
  margin: 0 20px 0 20px;
}


.homeEventBoxClosed{
  background-color: #f2f2f2;
  border-radius: 20px 20px 0 0 ;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeEventBoxOpen{
  background-color: #f2f2f2;
  border-radius: 20px 20px 0 0;
  height: calc(70vh - 30px);
  padding: 0;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}

.homeEventButton {
  height: 25px;
  width: 50px;
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.homeEventList {
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 30px);
  overflow: hidden;
  overflow-y: scroll;
}
