.homeBox1 {
    display: grid;
    /* background-color: aqua; */
    grid-template-rows: 55vh 1fr 25vh 60px;
}

.blackButton1{
    background-color: #f2f2f2;
    padding: 20px 20px 0 20px;
    border-radius: 20px 20px 0 0 ;
}
  
  .whiteButton1{
    background-color: #f2f2f2;
    border-radius: 20px 20px 0 0;
    height: 70vh;
    padding: 20px 20px 60px 20px;
    bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .btn_class1 {
      height: 10%;
      width: 100%;
  }

.hbox11 {
    /* background-color: black; */
    padding: 0;
}


.hbox31 {
    /* background-color: violet ; */
}

.hbox41 {
    background-color: thistle;
    padding: 20px 20px 0 20px;
}

.homeBoxEventList1 {
    border-radius: 12px;
    height: 90%;
    overflow: hidden;
    overflow-y: scroll;
}