.eventContainer {
    background-color: #FFF;;
    height: 66px;
    display: grid;
    grid-template-columns: 44px auto 44px;
    margin: 5px 20px;
    border-radius: 12px 12px 12px 12px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.eventProfileBox { 
    /* background-color: aqua; */
    display: flex;
    margin: auto;
}

    .profilePic {
        width: 24px;
        height: 24px;
        background-color: red;
        border-radius: 10px;
    }



.eventTextBox {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-rows: 14px 14px 1fr 16px 1fr;
    grid-template-columns: 60px 1fr;
}

    .eventText {
        /* background-color: blue; */
        grid-row: 2/3;
        grid-column: 1/4;
    }

        .eventText p {
            font-weight: 400;
            margin: 0;
            font-size: 12px;
            color: #000000;
            /* color: #FFF; */
        }

    .eventFriendsBox {
        /* background-color: blueviolet; */
        grid-row: 4/5;
        grid-column: 1/2;
        display: flex;
        flex-direction: row;
    }

        .friend1 {
            background-color:brown;
            width: 16px;
            height: 16px;
            border-radius: 10px;
        }

    .eventTimeBox {
        /* background-color: slategrey; */
        grid-row: 4/5;
        grid-column: 2/3;
    }

        .eventTimeBox p {
            margin: 0;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.4)
        }

.eventDateBox {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

    .eventDateBox p {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);
    }

