.titleBarContainer {
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(196, 196, 196, 0.1);;
}

.titleBarLogo {
    /* background-color: aqua; */
    width: 118px;
    height: 28px;
    display: flex;
    
}

.titleBarLogo p {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.titleBarLogoTime {
    font-weight: 400;
}

.titleBarLogoShare {
    font-weight: 900;
    color: #5E81F4;
}